* text=auto
*.node filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/mvnw text eol=lf
*.cmd text eol=crlf
**/*.node filter=lfs diff=lfs merge=lfs -text
mini-main/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text
